.circle {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../../../images/homeImageForCircle.png") no-repeat center
    center;
  background-size: cover;
  clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0 90%);

  display: flex;
  justify-content: center;
}
.dot:hover {
  cursor: pointer;
  stroke: #ea8300;
  fill: #ea8300;
}
.dot {
  stroke: white;
  fill-opacity: 0.01;
  fill: #fff;

  text {
    font-size: 26px;
    fill-opacity: 1;
  }
}
